/********** Template CSS **********/

/* Changer la couleur primaire de rose à rouge */
:root {
    --bs-primary: #dc3545 !important;
}

/* Navbar button "Book Now" styling */
.navbar .btn-outline-primary {
    color: #ff000c;
    border-color: #ff000c;
}

.navbar .btn-outline-primary:hover,
.navbar .btn-outline-primary:active,
.navbar .btn-outline-primary:focus {
    background-color: #ff000c;
    color: #000;
    border-color: #ff000c;
}

/* "Learn More" link styling */
a.text-primary {
    color: #ff000c !important;
    transition: color 0.3s ease;
}

a.text-primary:hover {
    color: #00aeff !important;
}

/* Check circle icon styling */
i.fa-check-circle.text-primary {
    color: #ff0000 !important;
}

/* "Become A Model" button styling */
.btn-outline-primary:not(.navbar *) {
    color: #888888 !important;
    border-color: #888888 !important;
}

.btn-outline-primary:not(.navbar *):hover,
.btn-outline-primary:not(.navbar *):active,
.btn-outline-primary:not(.navbar *):focus {
    background-color: #888888 !important;
    color: #000000 !important;
    border-color: #888888 !important;
}

#icon {
    height: 300px;
  aspect-ratio: 16 / 9;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 600;
    transition: .5s;
    border-radius: 50px;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: inherit;
}

.btn-primary {
    color: var(--bs-white);
}


/*** Navbar ***/
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    transition: .10s;
}

/* Navbar état initial */
.navbar {
    background: rgba(0, 0, 0, 0); /* léger transparent */
    padding: 25px 0;
    transition: all 0.5s ease;
}

/* Navbar après scroll */
.navbar.navbar-scrolled {
    background: rgb(0, 0, 0); /* opaque */
    padding: 1px 0;               /* monte visuellement */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.608);
}

.navbar.navbar-scrolled .nav-li {
    color: #fff !important;
}

.navbar.navbar-scrolled .nav-link:hover {
    color: var(--bs-primary) !important;
}
/* Navbar après scroll */


.site-logo{
    width: 100px;
    height: auto;
    vertical-align: middle;
}
.navbar .navbar-nav .nav-link {
    margin-right: 25px;
    padding: 40px 0;
    color: var(--bs-white);
    font-size: 17px;
    text-transform: uppercase;
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.ide{
    width: 20%;height: 20%;vertical-align: middle;
    margin: 0px;
}

.idephotography{
    width: 20%;
    height: 20%;
    vertical-align: middle;
    margin: 0px;
}
@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link,
    .navbar.bg-dark .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 8px;
        border-top: 1px solid var(--bs-light);
    }
}

@media (min-width: 992px) {
    .navbar.bg-dark .navbar-nav .nav-link {
        padding: 20px 0;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

/*** page slider ***/

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 550px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 200px;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-1.jpg) top center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb {
    color: var(--bs-white);
}

.page-header .breadcrumb-item {
    color: var(--bs-white);
}

.page-header .breadcrumb-item + .breadcrumb-item::before {
    color: var(--bs-white);
}


/*** Title ***/
.title {
    margin-bottom: 2rem;
}

.title .title-left,
.title .title-center,
.title .title-right {
    display: inline-block;
    text-transform: uppercase;
    overflow: hidden;
}

.logo1{
    width: 15%;height: auto;vertical-align: middle;
    margin: 0px;
}
.title .title-center {
    text-align: center;
}

.title .title-right {
    text-align: right;
}

.title .title-left h5,
.title .title-center h5,
.title .title-right h5 {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
}

.title .title-left h5::after,
.title .title-center h5::before,
.title .title-center h5::after,
.title .title-right h5::before {
    position: absolute;
    content: "";
    width: 500%;
    height: 0;
    top: 9px;
    border-bottom: 1px solid var(--bs-white);
}

.title .title-left h5::after,
.title .title-center h5::after {
    left: calc(100% + 15px);
}

.title .title-right h5::before,
.title .title-center h5::before {
    right: calc(100% + 15px);
}

.title .title-left h1,
.title .title-centering h1,
.title .title-right h1 {
    border-bottom: 1px solid var(--bs-white);
}


/*** Service ***/
.service-item {
    position: relative;
    margin-top: 2.5rem;
    overflow: hidden;
}

.service-item .service-img {
    position: relative;
    display: inline-block;
}

.service-item .service-img::before {
    position: absolute;
    content: "";
    width: calc(100% - 12rem);
    height: calc(100% - 12rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3rem solid rgba(0, 0, 0, .5);
    border-radius: 300px;
    z-index: 1;
}

.service-item.service-item-left {
    border-radius: 500px 0 0 500px;
    background: linear-gradient(to right, var(--bs-secondary), var(--bs-dark));
}

.service-item.service-item-right {
    border-radius: 0 500px 500px 0;
    background: linear-gradient(to left, var(--bs-secondary), var(--bs-dark));
}

@media (max-width: 767.98px) {
    .service-item.service-item-left,
    .service-item.service-item-right {
        border-radius: 500px 500px 0 0;
        background: linear-gradient(to bottom, var(--bs-secondary), var(--bs-dark));
        text-align: center;
    }
}


/*** services ***/
.team-item {
    position: relative;
}

.team-item .team-name {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .7);
}

.team-item .team-body {
    position: relative;
    overflow: hidden;
}

.team-item .team-body .team-before,
.team-item .team-body .team-after {
    position: absolute;
    content: "";
    width: 0;
    height: calc(100% - 60px);
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
}

.team-item .team-body .team-after {
    left: auto;
    right: 0;
}

.team-item .team-body .team-before {
    text-align: right;
}

.team-item:hover .team-body .team-before,
.team-item:hover .team-body .team-after {
    width: 50%;
}

.team-item .team-body .team-before span,
.team-item .team-body .team-after span {
    margin: 5px;
    color: var(--bs-white);
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-body .team-before span,
.team-item:hover .team-body .team-after span {
    opacity: 1;
    transition-delay: .2s;
}

/*** Project ***/

.projects-section {
overflow: hidden;
padding: 1px 0;
position: relative;
}

.projects-track {
    display: flex;
    gap: 10px;
    /* width:100%; */
    width: max-content;
    position: relative

}

.projects-section::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 205px;
    background: linear-gradient(to right, #0d0d0d, transparent);
    /* background: #fff; */
}

.projects-section::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 140px;
    height: 205px;
    z-index: 2;
    background: linear-gradient(to left,  #0d0d0d, transparent);
    /* background: #fff; */
}

.project-item img, 
.project-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-item img, 
.project-item video {
    transition: transform 0.4s ease, opacity 0.3s ease;
}

.project-item:hover img,
.project-item:hover video{
    opacity: 0.75;
    transform: scale(1.05);
}

.project-item {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
}

.auto-scroll {
    animation: scrollProjects 40s linear infinite;
}

@keyframes scrollProjects {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
/* Pause important */
.newproject:hover .auto-scroll{
    animation-play-state: paused;
}

.project-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    opacity: 0; /*cache texte +overlay */
    transition: background 0.3s ease, opacity 0.3s ease;
}

.project-item:hover .project-title{
    background: rgba(0, 0, 0, 0.619);
    opacity: 1;
}

/* .project-title:hover {
    opacity: 1;
    color: #ffffff
} */




/*** Testimonial ***/
.testimonial-carousel {
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dots .owl-dot {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    padding: 10px;
    background: var(--bs-dark);
    border-radius: 100px;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot img {
    opacity: .1;
    transition: .5s;
    border-radius: 100px;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}


/*** Footer ***/
@keyframes footerAnimatedBg {
	0% {
        background-position: 0 0;
    }

	100% {
        background-position: -1000px 0;
    }
}

.logofooter{
    width: 15%;
    height: auto;
    vertical-align: middle;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
}
.footer {
	background-image: url(../img/footer-bg.png);
	background-position: 0px 0px;
    background-repeat: repeat-x;
	animation: footerAnimatedBg 50s linear infinite;
}

/***COUNTER***/
#section-counter{
	position: relative;
	z-index: 0;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: black;
		opacity: .8;
	}
}
/*!
 * Bootstrap v4.1.0 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #78d5ef;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-md-10,.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

  /*** page home services ***/
  .h4new {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  /***page photography***/
  .nav-itemn:hover {
    color: red !important;
    
  }
  
